USE [master]
GO
/****** Object:  Database [asp.net]    Script Date: 11/01/2023 19:51:17 ******/
CREATE DATABASE [asp.net]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'asp.net', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\asp.net.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'asp.net_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\asp.net_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [asp.net].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [asp.net]
GO
/****** Object:  Table [dbo].[Satılan_Kitaplar]    Script Date: 11/01/2023 19:51:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Satılan_Kitaplar](
	[İD] [int] NOT NULL,
	[ESERİN_ADİ] [nvarchar](50) NOT NULL,
	[ESERİN_YAZARI] [nvarchar](50) NOT NULL,
	[KONUMU] [nvarchar](max) NOT NULL,
	[FİYATİ] [float] NOT NULL,
	[ADEDİ] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEVİMLİ_KİTAPCİLİK]    Script Date: 11/01/2023 19:51:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEVİMLİ_KİTAPCİLİK](
	[İD] [int] NOT NULL,
	[ESERİN_ADİ] [nvarchar](50) NOT NULL,
	[ESERİN_YAZARI] [nvarchar](50) NOT NULL,
	[KONUMU] [nvarchar](max) NOT NULL,
	[FİYATİ] [float] NOT NULL,
	[ADEDİ] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
